<html>
<body>

<form action="http://localhost:5000/album_result" method="GET">
  Enter the name of an album:<br>
  <input type="text" name="album_name" value="">
  <br><br>
  How much do you like this album? (1 low, 3 high)<br>
  <input type="radio" id = '1' name="like", value='1'>
  <label for = '1'>1</label><br>
  <input type="radio" id = '2' name="like", value='2'>
  <label for = '2'>2</label><br>
  <input type="radio" id = '3' name="like", value='3'>
  <label for = '3'>3</label><br>
  <input type="submit" value="Submit">
</form> 

</body>
</html>